{% extends "./layouts/base.njk" %}

{% block content %}
  <h1>This is some content</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam consequuntur odio et obcaecati porro? Libero facere dolorem distinctio praesentium rerum harum nulla, consequuntur provident quidem dignissimos molestiae dolore officiis quod!</p>
{% endblock %}